
body{
    box-sizing: border-box;
    background-color:#e7e7de;
}

.myimg {
    width:170px;
}


img{ 
    border-radius: 40%; 
    width: 150px; 
    height:180px;
}
.skillTable{
    
    border-collapse: collapse;
    border-spacing: 0;
    width:300px;
    margin-left: 30px;
    
}

tr{
    height: 5px;
    line-height: 18px;
    height: 10px;
    
}

h3{
    border: 200px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width:5%;
    border-width: 5px;
    color:gray;
}